.my-card {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    overflow: hidden;
    position: relative;
}
 
.my-card img {
    transition: all 0.15s linear;
    filter: brightness(70%);
    position: relative;
    max-height: 50vh; 
    max-width: 300px;
    min-width: 260px;
    margin-bottom: 5%;
}

.my-card .profile-name {
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    /* top: 10px; */
    left: 25px;
    bottom: -120px;
}

.my-card img:hover {
    transform: scale(1.01);
}
